body {
  background-color: rgba(238, 238, 238, 0.444) !important;
}

.card {
  background-color: #5c7285;
  width: 100% !important;
}
.icon {
  display: flex;
  justify-content: center;
}

.box-form {
  width: 50%;
  margin: 50px auto;
  padding: 40px;
  background-color: white;
  box-shadow: 0px 3px 17px 6px rgba(0, 0, 0, 0.304);
}
